// Navigation Styles here


nav {
    .flex();
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 2% 0;

    @media @phone {
    flex-wrap: wrap;
    }
    
    
    h1 {
        width: 20%;

        @media @phone {
           width: 100%; 
           text-align: center;
           align-content: center;
           justify-content: center;
        }


    }

    .links {
        .flex();
        padding: 2%;
        width: 70%;
        flex-wrap: nowrap;
        @media @phone {
            width: 100%;
        }

        a {
            .links();
            padding: 0 5%;
            font-size: 1.5rem;
            width: 100%;
        }
    }
    
}